.btn {
    padding: 10 px 36px;
    border: 1px solid blue;
    border-radius: 4px;
    outline: none;
    background-color: green;
    color: white;
    font-size: 16px;

}

.btn:hover {
    cursor: pointer;
}